%h1 Testing Layout
%p This is a test to see that my sinatra app renders haml/html correctly
%p using a couple of resources:
%ul
    %li Sinatra: Up and Running (O'Reilly, 2011)
    %li TutsPlus: An Introduction to Haml and Sinatra
