%p hi. my name is luke kuzmish and this is my blog.  i wrote the engine myself using a cool little DSL called <a href="http://sinatrarb.com">Sinatra</a> in ruby.
%h2= "#{articles.length} posts"
%ul
- articles.each do |article|
    %a(href="/posts/#{article.slug}")
        %li= article.title
