!!!
%html
    %head
        %title= "#{title}"
    %body
        #wrapper
            #blogheader
                %h1 luke's blog
                %h2 coding, poetry, capri sun, music, musings
            #content
                =yield
            #footer
                %p Contact me at <a href="mailto:DONTSPAMPLZluke@lukekuzmish.com">luke (at) lukekuzmishdotcom</a>
